:root {
  --pink--color: #e53472;
}

.admin_header--navbar-wraper {
  background-color: #252527;
}

.admin_header--navbar-profile-user {
  // box-shadow: -1px 1px 2px 0 rgba($color: #8a8585, $alpha: 0.2);
  border-bottom: 1px solid rgba($color: #d4d3d3, $alpha: 0.2);
}

.admin_header--navbar-item {
  margin: 5px 0;
  transition: all 0.2s linear;
  &.active,
  &.active:hover {
    background-color: var(--pink--color);
  }

  &:hover {
    background-color: rgba($color: #d4d3d3, $alpha: 0.2);
  }
}

.btn-logout {
  bottom: 0;
  left: 50%;
  right: -40%;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: var(--pink--color);

  &:hover {
    background-color: rgba($color: #e53472, $alpha: 0.8);
  }
}
